language: android

jdk:
  - oraclejdk8

android:
  components:
    - android-22
    - build-tools-22.0.0
    - extra-android-m2repository

script:
  - mvn -s .travis.maven.settings.xml verify && ./gradlew clean assembleDebug
