<?xml version="1.0" encoding="utf-8"?><!--

    Copyright 2015-2017 Red Hat, Inc. and/or its affiliates
    and other contributors as indicated by the @author tags.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hawkular.client.android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".HawkularApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/Theme.Hawkular">

        <meta-data
            android:name="DEFAULT_MESSAGE_HANDLER_KEY"
            android:value="org.hawkular.client.android.push.PushHandler" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.Hawkular.Drawer">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".activity.AuthorizationActivity"
            android:label="@string/title_authorization" />

        <activity
            android:name=".activity.MetricActivity"
            android:label="@string/title_metrics" />

        <activity
            android:name=".activity.AlertsActivity"
            android:label="@string/title_alerts" />

        <activity
            android:name=".activity.AlertDetailActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.TriggerSetupActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.TriggerDetailActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".explorer.InventoryExplorerActivity" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_settings"
            android:theme="@style/Theme.Hawkular.SettingsTheme" />

        <service android:name="org.jboss.aerogear.android.authorization.oauth2.OAuth2AuthzService" />

    </application>

</manifest>
