<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.hawkular.client.android"
	android:installLocation="auto">

	<uses-permission
		android:name="android.permission.INTERNET"/>

	<application
		android:allowBackup="false"
		android:name=".HawkularApplication"
		android:label="@string/application_name">

		<activity
			android:name=".activity.LauncherActivity">

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

		</activity>

		<service
			android:name="org.jboss.aerogear.android.authorization.oauth2.OAuth2AuthzService">
		</service>

	</application>

</manifest>
